node_modules
.git
.github
.gitignore
.gitattributes
config_flameshot.sh
config.sxcu
example.env
LICENSE
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
docker-compose.yml
docker-compose.migrieren.yml
MIGRATION.md
sqlite-anpassung.js