<!DOCTYPE html>
<html lang="de_DE">
  <head>
    <meta charset="UTF-8" />
    <title>Anmeldung » <%= SITE_TITLE %></title>
    <meta property="og:title" content="<%= OG_TITLE %>">
    <meta property="og:description" content="<%= OG_DESCRIPTION %>">
    <meta name="og:locale" content="de_DE" />
    <link rel="icon" href="<%= SITE_FAVICON %>" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background: #0e0e0e;
        color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .login-box {
        background: #333333;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      }

      h2 {
        color: #fff;
        margin: 0;
        padding: 10px;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      form input {
        padding: 10px;
        margin: 10px;
        border: none;
        width: 90%;
        border-radius: 5px;
      }

      form button {
        background-color: #0e0e0e;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      form button:hover {
        background-color: #555;
      }
      .button {
        width: 150px;
        height: 50px;
        font-size: 15px;
        margin-top: 20px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
      }
      .button:before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }
      .button:active {
        color: #000;
      }
      .button:active:after {
        background: transparent;
      }
      .button:hover:before {
        opacity: 1;
      }
      .button:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
      }
      @keyframes glowing {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }
    </style>
  </head>
  <body>
    <div class="login-box">
      <h2>Anmeldebereich</h2>
      <h3>Dieser Bereich benötigt eine Anmeldung</h2>
      <form action="/login" method="post">
        <input type="text" name="token" placeholder="Token" required />
        <button class="button" type="submit">Anmelden</button>
      </form>
    </div>
  </body>
</html>
